<div class="row">
  <h2 class="text-center">Novo Cliente</h2>
</div>
<div class="row">
  <div ng-if="ctrl.errors" uib-alert class="alert alert-danger" close="ctrl.closeErrors()">
    <ul ng-repeat="error in ctrl.errors">
      <li>{{error}}</li>
    </ul>
  </div>
  <div ng-if="ctrl.success" uib-alert class="alert alert-success" close="ctrl.closeSuccess()">
    <p>{{ctrl.success}}</p>
  </div>
</div>
<div class="row">
  <form id="form">
    <div class="form-group">
      <label for="name">Nome completo</label>
      <input class="form-control" type="text" ng-model="ctrl.customer.name" ng-change="ctrl.validate()">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control" type="email" ng-model="ctrl.customer.email" ng-change="ctrl.validate()">
    </div>
    <div class="form-group">
      <label for="phone">Telefone</label>
      <input class="form-control" type="text" ng-model="ctrl.customer.phone" ng-change="ctrl.validate()">
    </div>
    <div class="form-group">
      <label for="id_card_code">Documento de Identidade</label>
      <input class="form-control" type="text" ng-model="ctrl.customer.id_card_code" ng-change="ctrl.validate()">
    </div>
    <button ng-click="ctrl.clear()" class="btn btn-default">Limpar</button>
    <button ng-click="ctrl.save()" ng-disabled="!ctrl.validate()" type="submit" class="btn btn-primary">Salvar</button>
  </form>
</div>
